<header>
      <div class="brand-name">
        <img src="images/apt.svg" alt="apt">
      </div>
      <div class="toggle-menu">
        <span></span>
      </div>
      <div class="right-wap">
        <ul class="main-menu">
          <li><a href="">About</a></li>
          <li><a href="">Features</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="" class="btn">Login</a></li>
        </ul>
        <div class="profile-wrap">
          <a href="javascript:void(0);">
            <img src="images/profile.jpeg" alt="profile">
            <!-- <span><i class="fas fa-sort-down"></i></span> -->
          </a>
          <div class="profile-option">
            <ul>
              <li><a href="">My Account</a></li>
              <li><a href="" class="btn">Logout</a></li>
            </ul>
          </div>
        </div>
        <ul class="menu">
          <li><a href=""><img src="images/home.svg"></a></li>
        </ul>
        <div class="notification-wrap">
          <div class="notification-icon">
            <img src="images/notification.svg">
          </div>
          <ul>
            <li>This is notification.</li>
            <li>This is notification.</li>
            <li>This is notification.</li>
            <li>This is notification.</li>
          </ul>
        </div>
    </header>
    <div class="sidemenu-main">
      <ul>
        <li><a href="">My Appointments</a></li>
        <li><a href="">Upcoming Appointments</a></li>
        <li><a href="">Past Appointments</a></li>
        <li><a href="">Cancle Appointments</a></li>
        <li><a href="">Appointments Request</a></li>
        <li><a href="">Cusomer List</a></li>
        <li><a href="">Settings</a></li>
      </ul>
    </div>